@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap');


:root{
    --color1: rgb(13 110 253);
}

body{
    /* font-family: "Roboto"; */
}

img{
    object-fit: cover;
}

.container-fluid{
    width: 95% !important;
}

.card{
    box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 10%);
    border: none;
}


header h1{
    font-weight: bold;
    color: var(--color1);
}
header i{
    font-size: 2rem;
    color: var(--color1);
    cursor: pointer;
}


header .busket{
    position: relative;
}

header .cart-num{
   position: absolute;
   width: 25px;
   height: 25px;
   border-radius: 50%;
   top: -10px;
   right: 1px;
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.product-search{
    border-right: 1px solid #e6e7f18c;
}

.companies-search p{
    cursor: pointer;
}


.products-wrapper input[type="range"]{
    width: 100%;
}

.products-wrapper img{
    height: 150px;
    object-fit: cover;
}

.cart-container{
    position: fixed;
    width: 400px;
    height: 100%;
    right: -400px;
    top: 0;
    box-shadow: 0px 1px 10px 0px rgb(0 0 0 / 10%);
    z-index: 1000;
    padding: 20px;
    background-color: #fff;
    transition: all 0.3s ease-in;
}

.cart-container.open{
    right: 0;
}

.cart-container img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 20px;
}
.cart-container .cart{
    border-bottom: 1px solid #e6e7f18c;
    padding: 10px 0;
}
.cart-container .cart-controls{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.cart-container .cart-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}